body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

h1{
    font-family: cursive;
    font-size: 66px;
    text-align: center;
}

.pizza{
    width: 150px;
    border-radius: 50%;
    border: 5px solid darkorange;
    margin-left: 50px;
}

.simples{
    color: #fff;
    background-color: mediumslateblue;
    margin: 50px;
    border: 2px solid black;
}

.personalizada{
    background-color: lightgray;
    margin: 50px;
    border-left: 16px solid orange;
    border-top: 3px dotted green;
    border-right: 4px double red;
    border-bottom: 1px solid blueviolet;
    color: black;
}