*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
.fonte01{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.fonte02{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}