body{
    background-color: #314028;
    color: #fff;
}

.titulo{

}

.name{
    color: #f39c12;
}

.lorem{
    text-align: justify;
}

.botom{
    background-color: darkorange;
    color: whitesmoke;
    padding: 20px 45px;
    text-align: center;
    margin: 100px auto;
}