* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@import url("ubuntu");